.tab-item {
  list-style-type: none;
}
.tab-button {
  border-top: none;
  font-size: 14px;
  font-family: Roboto;
  border-left: none;
  border-right: none;
  border-bottom: 1px #dfe2e5;
  background-color: transparent;
  padding-left: 12px;
  padding-right: 16px;
}
.active {
  color: #2563eb;
  border-bottom: 1px solid #2563eb;
}
